<!doctype html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <title>Node Exercise - Blake Hagen</title>
</head>

<body>

<div style="padding-left: 20px;">
  <h2>Grow Node Exercise</h2>
  <h4 style="color: red;">Error! <%= err %></h4>
  <p>"This is all your fault." -- C3PO</p>
</div>

</body>
</html>