<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node Exercise - Blake Hagen</title>
</head>

<body>

<p>Congrats. Your ejs test view worked if you are reading this.
</p>

</body>
</html>